---

platform: linux

image_resource:
  type: docker-image
  source: {repository: 10.240.199.202/czero/cflinuxfs2, insecure_registries: ["10.240.199.202"]}

params:
  OPS_MGR_HOST:
  OPS_MGR_USR:
  OPS_MGR_PWD:
  NETWORK_NAME:
  TILE_AZ_MYSQL_SINGLETON:
  TILE_AZS_MYSQL:
  TILE_MYSQL_PROXY_IPS:
  TILE_MYSQL_PROXY_VIP:
  TILE_MYSQL_MONITOR_EMAIL:
  TILE_MYSQL_PROXY_INSTANCES:
  TILE_MYSQL_BACKUP_PREPARE_INSTANCES:
  TILE_MYSQL_MONITORING_INSTANCES:
  TILE_MYSQL_BROKER_INSTANCES:  

inputs:
  - name: pcf-pipelines
  - name: om-cli

run:
  path: concourse-vsphere/tasks/config-mysql/task.sh
